body {
  margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}

.loader{
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: absolute;
  background-color: blue;
}

/* center-class */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero-header started */
.hero-header {
  width: 100%;
  height: 100vh;
  background-color: #c7ecee;
  justify-content: center;
  flex-direction: column;
}
/* hero-header finished */
/* ******************** */

/* app-holder start */
#app-holder {
  width: 20%;
  justify-content: center;
}

#app-holder > :nth-child(n) {
  display: inline-block;
  margin: 10px;
  transition: 0.5s;
  transform: scale(0.8, 0.8);
}

#app-holder > :nth-child(n):hover {
  transform: rotateZ(34deg);
}

/* app-holder finish */
/* **************** */

/* navbar-started */
.main-nav {
  padding: 5px;
  color: black;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #c7ecee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#brand-name > h1 {
  font-size: 35px;
  display: inline-block;
  font-family: 'Kaushan Script', cursive;
  margin-left: 10px;
  text-shadow: 1px 1px 5px blue;
  /* text-decoration: underline; */
}

.main-nav > li {
  color: white;
  text-shadow: 5px 5px 5px black;
  font-family: 'Bungee Inline', cursive;
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}
/* navbar-finished */
/* *************** */

/* start-row1 start */
.start-row1 {
  width: 100%;
  height: auto;
  flex-direction: column;
}

.start-row1 > div {
  width: auto;
  height: auto;
  flex-direction: column;
  animation: boatAnimation 30s infinite linear;
}

#reflect-boat {
  opacity: 0.3;
  transform: rotate(-180deg);
}
/* start-row1 finish */
/* **************** */

/* star-row start */
.star-row {
  display: grid;
  height: 10vh;
  width: 100%;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(10, 10%);
}

.star-row > img:nth-child(1) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
  background-image: url('./assets/star.png');
  background-size: cover;
  width: 30px;
  opacity: 0;
  animation: starAnimation 10s infinite linear;
}

.star-row > img:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url('./assets/star.png');
  background-size: cover;
  width: 25px;
  opacity: 0;
  animation: starAnimation 10s infinite linear 4.5s;
}

.star-row > img:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 0;
  grid-row-end: 1;
  background-image: url('./assets/star.png');
  background-size: cover;
  width: 20px;
  opacity: 0;
  animation: starAnimation 10s infinite linear 3s;
}

.star-row > img:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 0;
  grid-row-end: 1;
  background-image: url('./assets/star.png');
  background-size: cover;
  width: 10px;
  opacity: 0;
  animation: starAnimation 10s infinite linear 4s;
}

.star-row > img:nth-child(5) {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url('./assets/star.png');
  background-size: cover;
  width: 45px;
  opacity: 0;
  animation: starAnimation 10s infinite linear 1s;
}

.star-row > img:nth-child(6) {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 0;
  grid-row-end: 1;
  background-image: url('./assets/star.png');
  background-size: cover;
  width: 40px;
  opacity: 0;
  animation: starAnimation 10s infinite linear 1.7s;
}

.star-row > img:nth-child(7) {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url('./assets/star.png');
  background-size: cover;
  width: 30px;
  opacity: 0;
  animation: starAnimation 10s infinite linear 2.6s;
}

.star-row > img:nth-child(8) {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 0;
  grid-row-end: 1;
  background-image: url('./assets/star.png');
  background-size: cover;
  width: 50px;
  opacity: 0;
  animation: starAnimation 10s infinite linear 5s;
}
/* star-row finish */
/* **************** */
@media (max-width: 700px) {
  svg {
    width: 100%;
  }

  .main-nav {
    flex-direction: column;
    height: auto;
  }

  .hero-header {
    height: 100vh;
  }

  .start-row1 {
    display: none;
  }

  .star-row {
    display: none;
  }
}
